/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inter-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inter-v12-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inter-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inter-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inter-v12-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inika-regular - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inika-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inika-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inika-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inika-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inika-v21-latin-regular.svg#Inika') format('svg'); /* Legacy iOS */
}
/* inika-700 - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inika-v21-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inika-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inika-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inika-v21-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inika-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inika-v21-latin-700.svg#Inika') format('svg'); /* Legacy iOS */
}

/* Fonts-End */

html{
  box-sizing: border-box;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}
body{
  font-family: Inter;
  background: #EDF2EC;
}
.wrapper{
  max-width: 1440px;
  margin:0 auto;
}

.link{
    text-decoration: none;
    color:black;
  }

/** Header-Start */

  .header{
    vertical-align: bottom;
    line-height: 50px;
    background: #EDF2EC;
    font-family: Inika;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
  }

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 62px;

  }

  .header-list{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end ;
  }

  .header-item{
    margin-right: 46px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
  }

  .header-item:last-child{
    margin-right: 21px;
  }
  
  .link-home{
    text-decoration: none;
    font-weight: 700;
    color: #E06733;
  }
  
  .header-logo-link{
    line-height: 21px;
  }
  .header-item:last-child{
    padding-right: 109px;
  }
  
  .header-logo{
    margin:52px 0 61px 0;
  }
  .plant-picture{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }
/** Header-End */

/** Welcome-start */

.welcome{
  background: #EDF2EC;
  margin-bottom: 93px;
}
.welcome-container{
  display: flex;
  justify-content: space-between;
}

.welcome-info{
  padding-left:224px;
}

.leaf-pict{
  margin-bottom: 62px;
}

.welcome-title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin-bottom:42px;
  margin-right:109px;
}

.important{
   color:#499A18;
}

.welcome-description{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 48px;
  margin-right:132px;
}

.button-more-info{
  padding: 14px 27px;
  border: 2px solid #E06733;
  border-radius: 10px;  
  font-family: 'Inter';
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  transition: 0.5s;
  cursor: pointer;
  
}

.button-more-info:hover,
.button-more-info:active,
.button-more-info:focus{
  background-color: wheat;
}

/** Welcome-End */

/* About-start */

.wrapper-about{
    max-width: 1440px;
    margin: 0 auto;
    background: #ffffff;
}

.about-container{
  display: flex;
}

.title-about{
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  margin-top: 161px;
}

.about-description{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;

}

.important-about{
  color:#E06733;
}

/* About-End */