/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inter-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inter-v12-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inter-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inter-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inter-v12-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inika-regular - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inika-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inika-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inika-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inika-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inika-v21-latin-regular.svg#Inika') format('svg'); /* Legacy iOS */
}
/* inika-700 - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inika-v21-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inika-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inika-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inika-v21-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inika-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inika-v21-latin-700.svg#Inika') format('svg'); /* Legacy iOS */
      
}
html{
  box-sizing: border-box;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}
body{
  font-family: Inter;
}
.wrapper{
  max-width: 1220px;
  margin:0 auto;
}

.link{
    text-decoration: none;
    color:black;
  }

/** Header-Start */

  .header{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
  }

.header-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .header-list{
    display: flex;
  }

  .header-item{
    padding-right: 46px;
  }
  
  .link-home{
    text-decoration: none;
    font-weight: 700;
    color: #E06733;
  }

  .header-item:last-child{
    padding-right:109px ;
  }
  
  .header-logo{
    margin:52px 0 61px 0;
  }

/** Header-End */

/** Plants-start */

.pract{
  width: 400px;
  height: 400px;
  background: #E06733;
}
.pract:hover{
  
  background-color: black;
}