/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inter-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inter-v12-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inter-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inter-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inter-v12-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inika-regular - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inika-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inika-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inika-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inika-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inika-v21-latin-regular.svg#Inika') format('svg'); /* Legacy iOS */
}
/* inika-700 - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inika-v21-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inika-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inika-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inika-v21-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inika-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inika-v21-latin-700.svg#Inika') format('svg'); /* Legacy iOS */
      
}

/* Fonts-End */

html{
  box-sizing: border-box;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}
body{
  font-family: Inter;
  background: #EDF2EC;
}
.wrapper{
  max-width: 1440px;
  margin:0 auto;
}

.link{
    text-decoration: none;
    color:black;
  }

/** Header-Start */

  .header{
    vertical-align: bottom;
    line-height: 50px;
    background: #EDF2EC;
    font-family: Inika;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
  }

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 39px;
    margin-left: 112px;
    
  }

  .header-list{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end ;
    text-align: bottom;
    list-style: none;
  }

  .header-item{
    margin-right: 47px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    font-family: Inika;
    
  }
  .header-item:last-child{
    margin-right: 109px;
  }
  
  .link-home{
    text-decoration: none;
    font-weight: 700;
    color: #E06733;
  }
  .header-logo{
    margin:44px 0 61px 0;
  }
  .plant-picture{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }
/** Header-End */

/** Welcome-start */

.welcome{
  background: #EDF2EC;
}
.welcome-container{
  display: flex;
  justify-content: space-between;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}

.welcome-info{
  margin-left:222px;
}

.leaf-pict{
  margin-bottom: 48px;
  margin-left:101px;
}

.welcome-title{
  padding-top:2px ;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin-bottom:44px;
  margin-right:109px;
}

.important{
   color:#499A18;
}

.welcome-description{
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 48px;
  margin-right:132px;
}

.button-more-info{
  padding: 10px 25px;
  border: 2px solid #E06733;
  border-radius: 10px;  
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  transition: 0.5s;
  cursor: pointer;
  font-family: Inter;
}
.button-more-info:hover,
.button-more-info:active,
.button-more-info:focus{
  background-color: wheat;
}

/** Welcome-End */

/** About-start */

.wrapper-white{
    max-width: 1440px;
    margin: 0 auto;
    background: #ffffff;
}

.about-container{
  display: flex;
  justify-content: space-around;
  margin-right: 107px;
}

.about-info{
  margin-left:112px
}
.title-about{
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  margin: 162px 190px 36px 0;
}

.about-description{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
  margin-right: 153px;
  margin-bottom:154px;
}

.plant-picture{
  margin-top: 93px;
}

.important-about{
  color:#E06733;
}

/** About-End */

/** Service-start */

.service-header{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.service-title{ 
  margin:0 97px 77px 133px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
 
}

.service-buttons-menu{
  display: flex;
  margin: 29px;
}

.service-button-item{
  margin-right: 38px;
  padding: 12px 40px;
  border: 1px solid #E06733;
  border-radius: 5px;  
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  transition: 0.5s;
  cursor: pointer;
  font-family: Inika;
  color:#E06733;
  text-align: center;
}

.first-button{
  padding:10px 44px 10px 40px;
}

.second-button{
  padding: 10px 54px 9px 50px
}

.three-button{
  margin-right:313px;
  padding:9px 43px 11px 41px;
}

/* Service part-2  start*/

.service-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 65px;
}

.service-item{
  margin-right:113px;
  margin-bottom: 54px;
}

.service-item:nth-child(1){
  margin-left:133px;
}

.service-item:nth-child(4){
  margin-left:133px;
}

.service-item:nth-child(3){
  margin-right: 128px;
}

.service-item:nth-child(6){
  margin-right: 128px;
}

.service-item-container{
  text-align: center;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
  margin-top: -3px;
}

.service-item-title{
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
color: #E06733;
margin-bottom: 13px;
margin-top: 10px;
}

.service-item-description{
  margin:0 0 37px 0;;
}
/* Service part-2  End*/
/** Service-End */

/** Prices Start  */

.praice{  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
}

.prices-container{
  display: flex;
  justify-content: space-between;
}
/*! Left */
.left-side-prices{
  margin-left: 111px;
  margin-right: 327px;
  margin-bottom: 129px;
  margin:0 327px 129px 111px;
}

.left-side-title{
  font-size: 40px;
  line-height: 48px;
  margin-top: 40px;
  margin-bottom: 96px;
  margin-left: 20px;
  margin: 40px 0 61px 0;
}

.left-side-container-btn{
  padding-left: 39px;
  padding-top: 34px;
  padding-right: 42px;
  padding:34px 42px 0 39px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}

.left-side-button{
  display: flex;
  justify-content: space-around; 
  width: 250px;
  height: 50px;
  align-items: center;
  background: #EDF2EC;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 32px;
}

.left-side-button-name{
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-right: -19px;
}
.first-name{
  margin-right:0;
}

.button-arow{
  padding: 10px;
  background: #D9D9D9;
}

/*! right */
.right-side-prices{
  text-align: right;
  margin-right: 106px;
}

.right-side-title{
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 42px;
}

.right-side-button-contacts{ 
  margin-bottom: 33px;
  padding: 9px 33px 11px 32px;
  font-family: Inika;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #E06733;
 
  border: 1px solid #E06733;
  border-radius: 5px;
}

.small-leafs{
  margin-right: -12px;
}
/** Prices End  */

/** Contacts start */

.contacts-container{
  display: flex;
  justify-content: space-between;
  padding-top: 53px;
}

.girl-picture{
  margin-left: 112px;
  margin-right: 46px;
}

.contacts-title{
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  margin-top: 8px;
}

.contacts-button{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background: #EDF2EC;
  width: 450px;
  height: 50px;
  font-size:20px;
  text-align: center;
  margin-right: 106px;
  margin-top: 95px;
  padding-left: 21px;
}

.button-arow-contacts{
  padding: 10px;
  margin-right:34px;
  background: #D9D9D9;
}


/** Contacts End */

/* Fotter start */

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 31px;
}

.time{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  margin:0 0 0 115px;
}
pre{
  margin:0;
}
.social-media-list{
  list-style: none;
  display: flex;
}
/* Fotter End */